
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.fa-regular{
    font-weight: 900
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #000;
}
.container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .post{
    display: none;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.container .edit:hover{
    text-decoration: underline;
}
.container .star-widget input{
    display: none;
}
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) + label:hover{
    color: #fd4;
}
input:checked + label{
    color: #fd4;
}
xinput#rate-5:checked  label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
#xrate-1:checked ~ #reason header:before{
    content: "I just hate it ";
}
#xrate-2:checked ~ #reason header:before{
    content: "I don't like it ";
}
#xrate-3:checked ~ #reason header:before{
    content: "It is awesome ";
}
#xrate-4:checked ~ #reason header:before{
    content: "I just like it ";
}
#xrate-5:checked ~ #reason header:before{
    content: "I just love it ";
}
.container #reason{
    display: none;
}
input:checked ~ #reason{
    display: block;
}
#reason header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
#reason .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
#reason .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.textarea textarea:focus{
    border-color: #444;
}
#reason .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
#reason .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
#reason .btn button:hover{
    background: #1b1b1b;
}